* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  margin-top: 50px;
  width: 400px;
}

.locations {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.locations__locations {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  width: 100%;
  height: 250px;
}

.locations__locations:nth-child(even) {
  background-color: lightgoldenrodyellow;
}

.locations__name {
  border: solid 1px pink;
  width: 30%;
  padding: 10px 20px;
  text-align: start;
}
